.lmj-banner {
	display: flex;
	color: black;
	padding: 32px;
	border-bottom: solid 3px black;
	flex-direction: column;
}

.lmj-banner-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: right;
	justify-content: flex-end;
}

.lmj-recommendation {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.lmj-title {
	padding-left: 32px;
}

.lmj-logo {
	height: 45px;
	width: 45px;
}